.chat-box {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.chat {
    background-color: lightpink;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 10px 0;
}

.person2 {
    background-color: lightcoral;
}

.chat::after {
    content: "";
    clear: both;
    display: table;
}

.chat img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    margin-left: 0;
}

.chat img.right {
    float: right;
    max-width: 60px;
    width: 100%;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}